@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family: Rubik, 'Helvetica Neue', sans-serif;
    @apply bg-gray-900 text-gray-300;
  }
  
  table {
  
    th,
    td {
      padding: 15px;
      border-bottom: 1px solid #eee;
    }
  
    th {
      text-align: left;
    }
  }