@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    width: 100%;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Rubik, 'Helvetica Neue', sans-serif;
    @apply bg-gray-900 text-gray-300;
  }
  
  table {
  
    th,
    td {
      padding: 15px;
      border-bottom: 1px solid #333;
    }
  
    th {
      text-align: left;
    }
  }