@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';


@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_root";
@import '~bootstrap/scss/_modal';
@import '~bootstrap/scss/_nav';

// @import '~@uppy/core/dist/style.css';
// @import '~@uppy/dashboard/dist/style.css';

.nav-tabs .active {
  border-style: solid;
  border-color: #ddd;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.ql-container, .ql-editor {
    height: 200px;
}

.ce-header {
    margin-bottom: 0;
    padding: 0;
}

.ce-toolbar__content, .ce-block__content {
    max-width: 100%;
}

.field-type-collapse {
    .field-type-card {
        .card-body {
            display: none;
        }

        &.active {
            .card-body {
                display: block;
            }
        }
    }
}


:root {
    --uim-primary-opacity: 1;
    --uim-secondary-opacity: 0.7;
    --uim-tertiary-opacity: 0.5;
    --uim-quaternary-opacity: 0.25;
    --uim-quinary-opacity: 0;
}
.uim-svg {
    display: inline-block;
    height: 1em;
    line-height: 1em;
    font-size: inherit;
    fill: var(--uim-color, currentColor);
}
.uim-svg svg {
    display: inline-block;
    min-width: 1em;
    margin-top: -3px;
}
.uim-primary {
    opacity: var(--uim-primary-opacity);
}
.uim-secondary {
    opacity: var(--uim-secondary-opacity);
}
.uim-tertiary {
    opacity: var(--uim-tertiary-opacity);
}
.uim-quaternary {
    opacity: var(--uim-quaternary-opacity);
}
.uim-quinary {
    opacity: var(--uim-quinary-opacity);
}

nav {
    .uim-svg {
        width: 36px;
        height: 36px;
        vertical-align: middle;
        border-radius: 50%;
        display: flex;

        svg {
            min-width: 1em;
            width: 100%;
            padding: 7px;
        }
    }
}

html,
body,
#app {
    width: 100%;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Rubik, "Helvetica Neue", sans-serif;
}

table {
    th {
        text-align: left;
    }

    th,
    td {
        padding: 5px 10px;
    }
}

button,
input,
optgroup,
select,
textarea {
    line-height: normal;
}

.color-checkbox {
    input {
        display: none;
    }

    span:after {
        content: '+';
        width: 18px;
        height: 18px;
        display: block;
        margin-top: -5px;
        margin-left: 2px;
        display: none;
    }

    span{
        width: 14px; 
        height: 14px;
        border: 2px solid transparent; 
        color: #fff;
        border-radius: 50%;
        display:inline-block;
        vertical-align:top; 
    }

    &:hover {
        span {
            width: 18px;
            height: 18px;
        }
    }

    &:hover span:after {
       display: block;
    }

    input:checked + span {
        border: 2px solid #111; 
        color: #fff;
    }
}

.color-checklist {
    display: inline-block;
    min-width: 20px;

    input {
        display: none;
    }

    span {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        

        &:hover {
            width: 20px;
            height: 20px;
            border-width: 1px;
            border-style: solid;
        }
    }

    input:checked + span {
        width: 20px;
        height: 20px;
        border-width: 1px;
        border-style: solid;

        &:after {
            width: 20px;
            height: 20px;
            content: "✓";
            display: block;
            color: #fff;
            margin: auto;
            text-align: center;
            line-height: 20px;
            margin-left: -1px;
        }
    }
}